/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "GeosansLight";
    src: url("../../../../external.html?link=https://db.onlinewebfonts.com/t/3116cf7d5d85070c2c0d4b96bfee7d8d.eot"); /* IE9*/
    src: url("../../../../external.html?link=https://db.onlinewebfonts.com/t/3116cf7d5d85070c2c0d4b96bfee7d8d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../../external.html?link=https://db.onlinewebfonts.com/t/3116cf7d5d85070c2c0d4b96bfee7d8d.woff2") format("woff2"), /* chrome firefox */
    url("../../../../external.html?link=https://db.onlinewebfonts.com/t/3116cf7d5d85070c2c0d4b96bfee7d8d.woff") format("woff"), /* chrome firefox */
    url("../../../../external.html?link=https://db.onlinewebfonts.com/t/3116cf7d5d85070c2c0d4b96bfee7d8d.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../../../../external.html?link=https://db.onlinewebfonts.com/t/3116cf7d5d85070c2c0d4b96bfee7d8d.svg#GeosansLight") format("svg"); /* iOS 4.1- */
}